html {
    height: 100%;
  }

p {
    padding: 0px; 
    margin: 0px;
}

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
  }

#main-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 18%) 3fr 1fr;
    grid-template-rows: auto 1fr;
}

#content-container {
    display: grid;
    row-gap: 20px;
    column-gap: 40px;
    margin: 10px 20px 0 20px;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}

#header {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #372549;
    box-shadow: 0 10px 6px -6px lightgrey;
    z-index: 100;
    height:auto;
    overflow: auto;
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1A1423;
    color: #FAF3F0;
    padding: 30px 30px 20px 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap:20px;
}

#main-content {
    grid-area: 2 / 2 / 3 / 3;
}

#right-bar {
    grid-area: 2 / 3 / 3 / 4;
}

.main-content {
    background-color: #FAF3F0;
    color: #372549;
}

.sidebar-spacing {
    height: 30px;
}

.sidebar-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.title-page {
    font-size: 25px;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 30px 0 30px;
}

.header-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 30px 30px 30px;
    margin: 0 30px 0 30px;
    flex-wrap: wrap;
}

.search-bar {
    background-color: lightgrey;
    border-radius: 20px;
    height: 22px;
    min-width: 200px;
    flex: 1;
}

.search-bar:hover {
    border: 1px solid #774C60;
  }

.name-account {
    font-weight: bold;
}

.header-greetings-block {
    flex: 1;
    display: flex;
    gap: 0;
    flex-direction: column;
}

.large-greetings {
    font-size: 25px;
    font-weight: bold;
}

.small-greetings {
    font-weight: bold;
}

.button-block {
    display:flex;
    gap: 20px;
}

.button {
    background-color: #774C60;
    border: none;
    color: white;
    border-radius: 40px;
    padding: 10px 40px;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: #B75D69;
    color: white;
  }

#title-projects {
    margin: 30px 20px 15px 20px;
}

#title-announcements, #title-trending {
    margin: 30px 20px 15px 20px;
}

.title-section-content {
    font-size: 18px;
    font-weight: bold;
}

.content-box {
    height: 222px;
    width: 100%;
    overflow: auto;
    border-radius: 0 10px 10px 0;
    background-color: white;
    margin: 0 0 0 10px;
    position: relative;
}

.right-bar-content-box {
    height: min-content;
    min-width: 250px;
    overflow: auto;
    border-radius: 10px;
    background-color: white;
    margin: 0 30px 0 20px;
    box-shadow: 3px 3px 6px lightgrey;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}

.title-box {
    font-weight: bold;
    font-size: 16px;
    padding: 20px 20px 5px 20px;
}

.text-box {
    font-size: 14px;
    padding:0 20px 0 20px;
    max-height: 100px;
    overflow: auto;
    
}

.announc-text-box {
    max-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.background-content-box {
    border-radius: 10px;
    background-color: #B75D69;
    box-shadow: 10px 3px 6px lightgrey;
}

.background-content-box:hover {
    background-color: #774C60;
  }

.icons-content-box {
    margin: 20px 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content-box-icon {
    margin: 0 0 0 10px;
}

.trending-box {
    margin: 0 30px 20px 20px;
    box-shadow: 3px 3px 6px lightgrey;
}

.separator {
    border: solid 1px #FAF3F0;
    width: 80%;
    align-self: center;
    margin: 20px 0  0;
}

.person-tag {
    font-size: 16px;
    padding: 0 20px 0 20px;
}

.person-decrip {
    font-size: 14px;
    color:#B75D69;
    padding: 0 0 0 20px;
}

.trending-person-info {
    display: flex;
    flex-direction: column;
}

.trending-row {
    display: flex;
    align-items: center;
    margin: 20px 20px 0 20px;
}